.container.certificates__container{
    width: 40%;
    text-align: center;
}
/* .certificate{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    display: flex;
} */

.certificate{
    text-align: center;
}
@media screen and (max-width:1024px){
    .container.certificates__container{
        width: 60%;
    }

}

@media screen and (max-width:600px){
    .container.certificates__container{
        width: var( --container-widht-sm)
    }
}